.carousel-container {
    height: 800px;
    overflow: hidden;
}

.carousel-inner {
    height: 100%; 
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    object-fit: cover; /* Garante que a imagem cubra todo o espaço sem distorção */
}
.tit-home{
    position: relative;
    bottom: 480px;
    color: rgb(0, 0, 0);
    text-shadow: 1px -1px rgb(255, 255, 255);
}
