/* Estilos globais */
@import "bootstrap/dist/css/bootstrap.min.css";

.form-section {
    width: 320px;
    margin: 16px auto;
}
.invalid {
    color: red;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efefef;
    font-family: monospace;
}

img {
    border-radius: 8px;
}

h1 {
    text-align: center;
}

body{
    box-sizing: border-box;
    width: 100%;
  
}
form{
    font-family: MontSerrat;
}
/*Cadastro*/
.main{
    min-height: calc(100vh - 112px);
    width: 100%;
    background-size: cover;
    background-position: 2%;
        
}
.btn-area{
    width: 80%;
}
.f-area{
    background-color: #efefef;
    text-align: center;
    width: 35%; 
    padding: 8px;
    border: 2px solid rgb(170, 160, 160);
}
.form-area{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    background-color: #f0f0f0;
    border: 2px solid rgb(170, 160, 160);
    padding: 8px;
    width: 35%;  
}

.but{
    width: 25%;
}
.cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
.card-livro{
    width:240px;
    flex-wrap: wrap;
    text-align: center;
}
.link-login{
    text-decoration: none;
    color: black;
    text-align: center;
}
.link-login:hover{
    letter-spacing: 1px;
}
.capa-livro{
    width: 180px;
}
.form-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}